/*=====CSS Reset=====*/
body,html,div,p,span,h1,h2,h3,h4,h5,h6,label,input,form,strong,ul,li {
    margin: 0;
    padding: 0;
    font-family: verdana, arial, sans-serif;
    font-size: 12px;
 /*color:#666;*/
    color: #4b4b4b;
}

ol {
    margin-top: 0;
}

#wrapper {
    width: 1000px;
    margin: 0 auto;
}

#header {
    display: block;
}

#logo {
    float: left;
}

.linktext, a.linktext, a:link.linktext, #mainContent p.linktext, #terminate_days {
    color: #0067a6;
    text-decoration: none;
}

a:hover.linktext {
    color: #f66f02;
    text-decoration: none;
}

/*===== Header Login Section =====*/
.headerLogin {
    float: right;
 /*width:340px;*/
    width: 500px;
    text-align: right;
    padding-top: 6px;
}

.headerLogin label {
/*float:left; width:126px;*/
    float: right;
    width: 290px;
    font-weight: bold;
    font-size: 12px;
    color: #0067a6;
    margin-top: 4px;
}

.headerLogin input, .formContainer input {
    width: 195px;
    padding: 2px 5px 0px 5px;
    height: 22px;
    vertical-align: middle;
    margin-bottom: 8px;
    border: 1px solid #bbb;
    font-size: 11px;
    color: #888;
    background: url(../img/bg.gif) repeat-x 0 0;
}

.headerLogin input[type='image'], .formContainer input[type='image'] {
    border: 0;
    width: auto;
    background: none;
    padding: 0;
    height: auto;
}

.headerLogin a, .headerLogin a:link {
    color: #0067a6;
    text-decoration: none;
    font-size: 11px;
    display: inline-block;
    vertical-align: top;
    margin-top: 8px;
}

.frmFieldCont {
    float: right;
    width: 215px;
}

.frmlabelCont {
    float: right;
    width: 280px;
}

label.errorMsgIcon {
    float: right;
    width: auto;
    text-align: left;
    background: url(../img/icon_warning_small.png) 0 1px no-repeat;
    padding-left: 24px;
    margin-bottom: 5px;
    color: #000;
}

label.errorMsg {
    background: none;
    padding-left: 74px;
}


/*===== Top Navigation =====*/
#mainNav {
    clear: both;
}

#mainNav ul {
    margin: 0;
    padding: 0 0 0 6px;
    background: #e8e8e8 url(../img/topmenu_bg.gif) repeat-x;
    height: 28px;
    padding-top: 14px;
    margin: 0px;
    border-bottom: 1px solid #c8c8c8;
}

#mainNav ul li {
    float: left;
    list-style: none;
    margin-right: 28px;
}

#mainNav ul li.selected a, #mainNav ul li.selected a:link {
    font-weight: bold;
    color: #0067a6;
}

#mainNav ul li.topLinks span {
    padding-right: 4px;
    font-weight: bold;
}

#mainNav ul li.topLinks a, #mainNav ul li.topLinks a:link {
    color: #0067a6;
}

.headerLogin a:hover, #mainNav a:hover, #mainNav ul li.topLinks a:hover, 
.footerLinks a:hover,  .featureBox ul li a:hover, #sideNav ul li a:hover {
    color: #f66f02;
    text-decoration: none;
}

#branding {
    padding-top: 32px;
    display: block;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    padding-bottom: 16px;
}

.brandingContent {
    float: left;
    width: 390px;
    padding-top: 46px;
}

.brandingContent h1 {
    font-size: 31px;
    text-align: center;
    color: #0067a6;
    font-weight: bold;
    padding-bottom: 22px;
}

.brandingContent p {
    margin: 0 0 13px 27px;
    line-height: 16px;
}

.phoneImg {
    float: right;
}

#appFeatures {
    display: block;
    overflow: hidden;
    padding: 0 27px 0 27px;
}

#appFeatures h2 {
    color: #0067a6;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding: 33px 0;
}

.featureBox {
    float: left;
    width: 290px;
    padding-right: 36px;
}

.featureBox ul {
    margin: 0;
    padding: 0;
}

.featureBox ul li {
    list-style: none;
    background: url(../img/features_bg.png) no-repeat 0 0;
    margin-bottom: 44px;
    padding-left: 53px;
    line-height: 16px;
}

.featureBox ul li.secure {
    background-position: 0 0;
}

.featureBox ul li.alarm {
    background-position: 0 -91px;
}

.featureBox ul li.sync {
    background-position: 0 -178px;
}

.featureBox ul li.recover {
    background-position: 0 -263px;
}

.featureBox ul li.lock {
    background-position: 0 -372px;
    height: 78px;
}

.featureBox ul li.appAssist {
    background-position: 0 -471px;
}

.featureBox ul li.replace {
    padding-left: 67px;
    background-position: 0 -566px;
    height: 56px;
}

.featureBox ul li.erase {
    padding-left: 67px;
    background-position: 10px -654px;
}

.featureBox ul li.safeBrowsing {
    padding-left: 67px;
    background-position: 4px -747px;
}

.featureBox ul li.diagnostics {
    padding-left: 67px;
    background-position: 12px -808px;
}

.featureBox ul li h3 {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    padding-bottom: 5px;
}

/*===== Content Wrapper, Side Nav, Main Content =====*/
#contentWrapper {
    display: block;
    overflow: hidden;
    padding: 25px 0 25px 0;
    line-height: 16px;
    min-height: 350px;
}

#sideNav {
    float: left;
    width: 178px;
    margin-right: 28px;
    padding: 12px;
    border: 1px solid #c0bebf;
}

#sideNav ul li {
    list-style: none;
    padding: 0 0 10px 0;
}

#sideNav ul li.sideNavHeader {
    background: #ececec;
    font-weight: bold;
    color: #444;
    padding: 4px 6px;
    margin-bottom: 10px;
    border-bottom: 1px solid #c8c8c8;
}

#sideNav ul li.selected a {
    color: #0067a6;
}

#mainContent {
    float: right;
    width: 755px;
    padding-right: 11px;
}

.fullWidth {
    width: 1000px;
    padding: 0;
}

#mainContent h1 {
    font-size: 16px;
    color: #333;
    font-weight: bold;
    border-bottom: 1px solid #cacaca;
    margin-bottom: 17px;
    padding: 0 0 5px 5px;
}

#mainContent h1.brdBotNone {
    border-bottom: none;
    padding-left: 0;
    margin-bottom: 8px;
}

.border {
    border-bottom: 1px solid #cacaca;
}

#mainContent p {
    padding-bottom: 16px;
    color: #333;
}

.contentSubHeader {
    display: block;
    font-weight: bold;
    padding-bottom: 5px;
    color: #333;
}

#mainContent ul, #helpContent ul {
    padding-left: 8px;
}

#mainContent ul li, #helpContent ul li {
    list-style: none;
    background: url(../img/dot.gif) no-repeat 0 7px;
    padding: 0 0 6px 10px;
    color: #333;
}

#mainContent ul, #helpContent ul {
    padding-bottom: 16px;
}

/*===== FAQs =====*/
#mainContent #helpSections ul.faqs {
    margin-bottom: 0;
}

#mainContent #helpSections ul.faqs li {
    padding: 0 0 6px 0;
    background: none;
}

#mainContent #helpSections ul.faqs li.faqSubTitle {
    color: #333;
    font-weight: bold;
    font-size: 15px;
}

#mainContent #helpSections ul.faqs li.faqSubTitle2, #helpContent ul.faqs li.faqSubTitle2 {
    color: #333;
    font-weight: bold;
    margin-left: 0px;
    padding-top: 5px;
}

#mainContent #helpSections ol li {
    padding-bottom: 5px;
}

#helpSections ul#dma, #helpSections ul#dma li.dmali {
    list-type-type: disc;
    list-style: disc;
}

#helpSections ul#dma {
    padding-left: 15px;
    margin-left: 15px;
}

#helpSections ul#dma li.dmali {
    padding-left: 0px;
}

#mainContent #helpSections {
    overflow: auto;
    height: auto;
}

#mainContent  #helpSections ul {
    padding-left: 0;
}

#mainContent  #helpSections ul li {
    list-style: none;
    background: none no-repeat 0 7px;
    padding: 0 0 6px 10px;
    color: #333;
}

#mainContent #helpSections p {
    padding-bottom: 18px;
}

#mainContent #helpSections p.quesAns {
    margin: 0;
    padding: 0 0 5px;
}

#mainContent #helpSections p.padBMedium {
    padding-bottom: 0px;
}

#mainContent #helpSections p.quesAns span.PadTZero {
    padding-top: 0px;
}

#mainContent #helpSections p.quesAns span {
    display: block;
    padding-bottom: 10px;
    color: #0063a6;
}

#mainContent #helpSections p.quesAns span {
    display: block;
    padding-top: 10px;
}

#mainContent #helpSections p.padBMedium {
    padding-bottom: 15px;
}

ol.quesAns {
    list-style: none;
    margin: 0;
    padding: 0 0 16px;
}

ol.quesAns li {
    padding: 8px 0 0 8px;
    background: url(../img/arrow.gif) no-repeat 0 15px;
}

#dialog {
    display: none;
}

/*===== Phone Supported =====*/

#phones_supported h2 {
    padding: 0 0 26px 0;
    color: #333;
    font-size: 14px;
}

#phones_supported ul {
    list-style: none outside none;
}

#phones_supported p {
    display: block;
    overflow: hidden;
}

#phones_supported ul li {
    display: inline;
    float: left;
    height: 180px;
    margin-top: 5px;
    text-align: center;
    width: 125px;
    background: none;
}



/*===== Download App =====*/
.downloadAppWrapper {
    background: url(../img/download_bg_1.png) no-repeat;
    width: 601px;
    height: 427px;
    padding: 33px 345px 0 54px;
}

#mainContent .downloadAppWrapper h1 {
    font-size: 20px;
    font-weight: bold;
    color: #0067a6;
    padding: 0 0 12px 0;
    border: none;
    margin-bottom: 0px;
}

#mainContent .downloadAppWrapper p {
    padding: 0 82px 30px 0;
}

.downloadAppWrapper label {
    padding: 4px 4px 0 0;
    float: left;
}

.downloadAppWrapper input {
    border: 1px solid #5f849a;
    color: #888;
    background: url(../img/bg.gif) repeat-x 0 0;
    width: 147px;
    padding: 6px 9px;
}

.downloadAppWrapper input[type="image"] {
    display: block;
    margin: 10px 0 0 140px;
    border: 0;
    width: auto;
    background: none;
    padding: 0;
}

.downloadAppWrapper span.message {
    display: block;
    padding-top: 20px;
}

.eligible {
    background: url(../img/download_bg_2.png) no-repeat;
}

.eligible p {
    padding-bottom: 15px;
}

.downloadAppWrapper ol {
    margin: 0;
    padding: 0 89px 0 18px;
    list-style-position: outside;
}

.downloadAppWrapper ol li {
    padding-bottom: 30px;
}

.downloadAppWrapper a, .downloadAppWrapper a:link {
    color: #0067a6;
    text-decoration: underline;
}

.downloadAppWrapper a:hover {
    color: #f66f02;
    text-decoration: none;
}

.mobileMarkets a {
    background: url(../img/download_app_platforms.gif) 0 0 no-repeat;
    height: 79px;
    display: inline-block;
}

a.icoAndroid {
    background-position: 0 0;
    margin-right: 5px;
    width: 131px;
}

a.icoBlackberry {
    background-position: -290px 0;
    margin-right: 5px;
    width: 167px;
}


/*===== Form =====*/
.formContainer {
    margin: 0;
    padding: 16px 0 0 0;
}

.formContainer td {
    padding: 0 5px 6px 0;
    vertical-align: top;
}

.formContainer label {
    padding-top: 3px;
    display: block;
}

.formContainer input[type="radio"] {
    width: auto;
    float: left;
    margin: 2px 4px 0 0;
    padding: 0;
    background: none;
    border: none;
}

.formContainer .errorMessage {
	display: none;
}

/*===== HelpPopup =====*/
#helpWrapper {
    display: none;
    margin: 0;
    padding-bottom: 10px;
    background: #efefef;
    line-height: 16px;
}

#helpWrapper h1 {
    font-size: 22px;
    font-weight: normal;
    color: #000;
    padding: 10px 0 16px 16px;
    background: #ccc;
}

#helpContentWrapper {
    background: #fff;
    margin: 0 8px;
    padding: 12px 7px;
    border-left: 1px solid #cad0e1;
    border-right: 1px solid #cad0e1;
    border-bottom: 1px solid #cad0e1;
}

#helpLinks {
    float: left;
    width: 176px;
    height: 375px;
    padding: 18px 5px 18px 14px;
    border: 1px solid #e3e3e3;
}

#helpLinks ul {
    margin: 0;
    padding: 0;
}

#helpLinks ul, #helpContent ul.faqs {
    margin: 0 0 14px 0;
    padding: 0;
}

#helpLinks ul li, #helpContent ul.faqs li {
    list-style: none;
    color: #0063a6;
    padding-bottom: 8px;
    background: none;
}

#helpLinks ul li a, #helpLinks ul li a:link, #helpLinks ul li.selected a:hover, #helpContent ul.faqs li a:link,#helpSections p.quesAns a, #helpContent p.quesAns a:link, #mainContent #helpSections ul.faqs a:link {
    color: #0063a6;
    text-decoration: none;
}

#helpLinks ul li a:hover, #helpContent ul.faqs li a:hover, #helpContent p.quesAns span.goTopLink a:hover, #helpContent p.quesAns a:hover, #mainContent #helpSections ul.faqs a:hover {
    color: #f66f02;
    text-decoration: none;
}

#helpLinks ul li.selected {
    font-weight: bold;
}

#helpLinks ul li.helpTitle {
    font-size: 18px;
    color: #333;
    padding-bottom: 14px;
}

#helpContent ol {
    margin: 0 0 6px 0;
    padding: 0;
}

#helpContent ol li.subTitle {
    list-style: none;
    margin: 0;
    padding: 0 0 5px;
    font-weight: bold;
}

#helpContent ul.faqs li {
    padding: 0 0 6px 0;
}

#helpContent ul.faqs li.faqSubTitle {
    color: #333;
    font-weight: bold;
    padding: 0 0 6px;
    font-size: 15px;
}

#helpContent ol li {
    list-style-position: outside;
    list-style-type: decimal;
    color: #666;
    padding-bottom: 8px;
    margin-left: 23px;
}

#helpContent ol span {
    font-weight: bold;
    display: inline-block;
}

#helpContent p span {
    font-weight: bold;
    display: block;
    padding-bottom: 5px;
}

#helpContent p.quesAns span a {
    font-weight: normal;
}

#helpContent {
/*float:right; width:515px;*/
    padding-left: 220px;
}

.noStyle li {
    background: none!important;
}

.noStyle li.leftIndent {
    margin-left: 10px;
}

li.noListStyle,
.noListStyle li {
    list-style-type: none!important;
}

#helpContent ol.discListStyle li {
    list-style-type: disc!important;
}

/*===== new Phone popup =====*/
span#title {
    color: #000000;
    font-size: 22px;
    font-weight: normal;
}

#helpContentWrapper .newPhone {
    float: left;
    width: 315px;
}

#helpContentWrapper .newPhone #helpSections {
    overflow: auto;
    height: auto;
}

#helpContent #helpSections p {
    color: #666;
}

#helpContentNewPhone #helpContent {
    padding-left: 0px;
}

#helpContent p {
    padding-bottom: 10px;
}

#helpContent h2 {
    font-size: 18px;
    color: #333;
    font-weight: normal;
    border-bottom: 1px solid #c8c8c8;
    padding: 0 0 10px 0;
    margin-bottom: 14px;
}

#helpSections {
    overflow-y: scroll;
    height: 370px;
    padding-right: 5px;
}

#helpContent p.quesAns span {
    display: block;
    padding-top: 10px;
}

#helpContent ol.quesAns {
    list-style: none;
    margin: 0;
    padding: 0 0 16px;
}

#helpContent ol.quesAns li {
    list-style: none;
    margin-left: 0;
    padding: 8px 0 0 8px;
    background: url(../img/arrow.gif) no-repeat 0 15px;
}

ol.termsOl li {
    padding-bottom: 8px;
    color: #333;
}


/*===== Footer =====*/
#footer {
    display: block;
    overflow: hidden;
    background: #efefef;
    border-top: 1px solid #bbb;
    padding: 30px 20px;
    clear: both;
}

.footerLinks {
    float: left;
    width: 500px;
}

.footerLinks span {
    display: block;
    padding-bottom: 8px;
}

.footerLogo {
    float: right;
}

.footerLogo img {
    vertical-align: middle;
}

.logoDivider {
    display: inline-block;
    padding: 0 15px 0 15px;
}

/*===== Common Classes =====*/
.dispBlock {
    display: block;
}

.fntBold {
    font-weight: bold;
    color: #666;
}

.padRightNone {
    padding-right: 0;
}

a, a:link {
    color: #666;
    text-decoration: none;
    font-size: 12px;
}

.grayText {
    color: #999;
}

.clrAll {
    clear: both;
    height: 1px;
    overflow: hidden;
}

.clrBoth {
    clear: both;
    display: block;
}

a.link {
    color: #0063a6;
}

a.link:hover {
    color: #f66f02;
}

#helpContent span.red, .red {
    color: #f00;
    display: inline-block;
}

.spaceVLarge {
    padding-bottom: 200px;
}

.fltRight {
    float: right;
}

.fullWidth {
    width: 100% !important;
}

.floatNone {
    float: none !important;
}

.margnTopSmall,#mainContent #helpSections p.margnTopSmall {
    margin-top: 20px;
}

.margnTopMedium {
    margin-top: 80px;
}

.mrgncolOne {
    margin-right: 30px;
}

.padTB {
    padding: 10px 0 20px 0;
}

.padTZero {
    padding-top: 0px;
}

.tblBMrgnSmall {
    margin-bottom: 15px;
}


/*==========Dialog Classes=====*/
.dialogButton {
    display:inline-block;
    background: url(../img/common/common_btn_small.png) no-repeat;
    margin:17px 0px;
    width:63px;
    height:17px;
    line-height:17px;
    cursor:pointer;
    color:#fff;
}

.dialogMessage {
    font-size: 12px;
    text-align: left;
}

.ui-dialog .ui-dialog-title {
    color: #FFFFFF;
}

/*Phones Supported*/
#phones_supported ul {
    list-style: none outside none;
    padding-left: 0;
}

#phones_supported ul li {
    float: left;
    display: inline;
    width: 136px;
    height: 180px;
    margin-top: 5px;
    text-align: center;
    line-height: 15px;
}

#phones_supported ul li .bodytext {
    padding: 0px 10px;
}

.note {
    color: red;
    font-weight: 700;
}

.clear {
    clear: both;
}

#errMsgBld {
    color: red;
    font-weight: bold;
}

#errMsg {
    color: red;
    font-weight: normal;
    text-align: left;
}

#protectedAdv {
    display: block;
    float: left;
    position: absolute;
    top: 350px;
}

img {
    border: none;
}

#homePhone {
    float: right;
}

.center {
    text-align: center;
}

.errorMsgIcon, errorMsgIcon errorMsg, #password {
    display: none;
}

.splashButton {
    width:350px;
    height:41px;
    line-height:41px;
    text-align:center;
    margin-bottom:18px;
}

.splashButton a {
    color:#fff;
    font-size:18px;
    font-weight:bold;
}

.downloadButton a {
    padding-left:15px;
}

.downloadButton {
    background:url(../img/common/common_download_mobile_app.png) 0 0 no-repeat;
}

.supportedDevicesButton {
    background:url(../img/common/common_view_supported_devices.png) 0 0 no-repeat;
}

input[type='submit'].btnSignup {
    cursor: pointer;
    display:inline-block;
    background: url(../img/common/common_btn_default.png) no-repeat;
    width: 72px;
    height: 29px;
    line-height: 29px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    border:none;
    padding: 0px;
}
.btnSignup {
    cursor: pointer;
    display:inline-block;
    background: url(../img/common/common_btn_default.png) no-repeat;
    width: 72px;
    height: 29px;
    line-height: 29px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
.downloadAppWrapper .btnSignup {
    display: inline-block;
    background: url(../img/common/common_btn_large.png) no-repeat;
    width: 166px;
    height: 23px;
    line-height: 23px;
    margin: 10px 0 0 140px;
}

.btnAreYouProtected {
    cursor: pointer;
    display:inline-block;
    background: url(../img/common/common_are_you_protected.png) no-repeat;
    width: 202px;
    height: 148px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.textAreYouProtected {
    margin: 10px 0 10px 50px;
    font-size: 20px;
    line-height: 24px;
    color: #0067A6;
}

.textClickHere {
    margin:0 30px 0 80px;
    font-size: 11px;
    line-height: 15px;
    font-weight: normal;
}

.ui-widget-header {
	border: none !important;
	background: #0070aa !important;
}

#wronganswer {
	color:#990000;
	display: none;
}
.mobile #header_container {
    display: none;
}
.mobile #footer_container {
    display: none;
}

.hide {
	display: none;
}
