#data_contacts_searchbar{	
	/*border-bottom:2px solid #949da0;*/	
	/*margin:4px 0 0 0;*/
	margin: 0;	
}
#data_contacts_tab .form-horizontal{	
	margin-bottom:12px;
}

#data_contacts_tab > #records_detailshalf{	
	/*
	margin-left:0px;	
	height:500px;
	*/	
}
.details_buttonholder{
	margin-top:25px;	
}

.androidBackupData span, .sync_settings span.showspan{
	margin-left:0;
	float:none;	
}

.transfer_data_instruction{margin-top:10px;}
 
.sync_settings .link{
	width:100%;
	overflow:hidden;
}

.details_buttonholder > ul >li{
	/*
	text-align: center;
	width: 50%;
	color: #FFF;
	height: 100%;
	float: left;
	border-right: 1px solid #6e9d00;	
	*/
}

#records_tablehalf .rt_row, #records_tablehalf .rt_row_j{	
	/*border-bottom:1px solid #ccc;*/
	border-bottom: solid 1px #a3abae;	
}

#contactstable .rt_row, #contactstable .rt_row_j{	
	border-top: solid 1px #c9c9c9;
	border-bottom: solid 1px #c9c9c9;	
}

#contact_removefrmdevice_btn,
#contact_addtodevice_btn,
#contact_delete_btn,
#restore_contact_btn,
#delete_contact_btn  {
	text-align: center;
	/*width: 33%;*/
	color: #FFF;
	height: 100%;
	/*float: left;*/
}

#restore_contact_btn {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

#contact_delete_btn {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;	
}

#contact_addtodevice_btn {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;	
}

#data_contacts_list span.progressing{	
	/*margin-top:100px;*/
	display:block;	
}


/*.create_contact_btn{
	background: #84BD00;
	position: relative;
	padding: 5px 10px 5px 10px;
	text-align: center;
	font-size: 15px;
	color: #FFF;
	max-height: 30px;
		
	display: inline-block;
	margin-bottom: 0;
	line-height: 20px;
	vertical-align: middle;
	cursor: pointer;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	border: 1px solid #cccccc;
	border-bottom-color: #b3b3b3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}*/


/*.create_contact_btn{
	background: #84BD00;
	position: relative;
	padding: 5px 10px 5px 10px;
	text-align: center;
	font-size: 15px;
	color: #FFF;
	max-height: 30px;
	
	
	display: inline-block;
	margin-bottom: 0;
	line-height: 20px;
	vertical-align: middle;
	cursor: pointer;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	border: 1px solid #cccccc;
	border-bottom-color: #b3b3b3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}*/

#contact_resource{padding-left:5px;}
#contact_resource > #data_contacts_createcontact {
	/*
	height:auto;	
	width:100%;
	padding-top:6px;
	padding-bottom:0;
	cursor:pointer;
	*/
}

#ep_column_1 .form-group, #ep_column_2 .form-group, #ep_column_3 .form-group{
	margin-bottom:0px;
}

#commands_searchinput {	
	background: #E3E5E6;		
	}
	
#contact_btn_container{		
	/*
	border-bottom: 2px solid #949da0;
	padding-top: 10PX;
	padding-bottom: 10PX;
	*/
	padding-left: 0;
}

.details_metadata{
margin-bottom: 5px;
/*margin-left: -50px;*/
}


.details_deletebutton,
.details_undeletebutton,
.details_deletefromtrashbutton{
	border-right:none!important;
}

.details_buttonholder > ul >li >span{
	/*line-height: 25px;*/	
}
.details_buttonholder > ul >li >p{
	/*
	line-height: 100%;
	margin-top: 6px;
	padding-top:1px;
	padding-bottom:1px;
	*/
}
.details_title {
	font-size: 12px;
	clear: left;
	margin: 10px;
	padding-left: 5px;
	padding-top: 5px;
	width: auto;
	color: #000;
	font-weight: bold;
	position: relative;
	height: 20px;
	margin-left: 15px;
	margin-top: 25px;
}
 
.details_lineitem {
	padding-left:5px;		
	position: relative;
	font-size:12px;
	margin-bottom:4px;	
}

.instructions_body {
	background-color: rgb(244, 244, 244);
	border: 1px solid rgb(204, 204, 204);
	font-size: 13px;
	height: 370px;
	margin: auto;
	text-align: left;
	width: 600px;
	margin-top: 40px;
	overflow:hidden;
}
#sync_dialog,#sync_successdetails{
	/*
	height:0;
	left: 0;
	margin: 0 auto;
	color:#000;
	*/
}

#sync_dialog .modal-dialog, #sync_successdetails .modal-dialog{	
	position: relative;
	top: auto;
	left: auto;
	right: auto;
	margin: 0 auto 20px 0;
	z-index: 300000;
	max-width: 100%;		
}
#sync_dialog .modal-content,#sync_dialog .modal-body, #sync_successdetails .modal-content,#sync_successdetails .modal-body{
	/*overflow-y: visible;*/
	max-height: inherit;	
}

#sync_dialog div.modal-header, div.modal-body ,#sync_successdetails div.modal-header{
	text-align: left;
}

#sync_dialog .instructions ul {
	margin: 0;
	list-style-type: none;
}
#sync_dialog step1 ul {
	margin-left:0;
}

#sync_dialog .icon {
	font-size: 14px;
	color: green;
	/*position: absolute;*/
	text-align: left;
	/*top:2px;*/
	/*left:0;*/
}
#backupConnectionWifiOrMobileNetwork_syncdialog{
	margin-bottom: 5px;
	position: relative;
	padding-left: 0;
}


#sync_dialog ul li{
	list-style-type:none;
}

#sync_dialog .sync_setting strong{display:block; margin-bottom:5px;}
.CI_input, #gps_keyword{margin-left:0 !important;}
#uploadbox{margin-top:-18px;}

#contact_edit_btn > p{
	line-height: 30px;
}

.details_contactinfotitle {
	margin-left: 15px;
	margin-top: 25px;
}

.import_contactfile {
	color: rgb(0, 0, 0);
	font-size: 13px;
	height: 34px;
	text-align: left;
	
	width: 100%;
}

#contactstable{
	padding:0px;
	/*height:532px;*/
	float: left;
}
/*#contactstable,.records_middlehalf {*/
.records_middlehalf {
	/*max-height: 60vh;*/
	overflow-y: auto;
}

#data_contact_add-edit{
	background-color: #FFF;
	position: absolute;
	z-index: 10;
	width: 100%;
	top: 42px;	
}

.pane_floatingbuttons{
	position: absolute;
	_right: 20px;
}

#data_contact_add-edit .pane_floatingbuttons h3 {
	margin:0px;
	position: absolute;
	left: 20px;
	top:0;
	font-size: 16px;
	color: #000;
	font-weight: bold;
	width:120px;
}

/*#rs_saveEdit,.rs_saveEdit,.rs_save,.rs_save_next{
	display: block;
	background: url(../../img/common/common_btn_default.png) no-repeat 0 0;
	margin-right: 10px;
	width: 80px; // Comment this later
	line-height: 20px;
	text-align: center;
	font-size: 15px;	
	color: #fff;
	font-weight:normal;
}*/

/*#add_edit_contact_cancel_btn{
	top: 0px;
	display: block;
	float: left;
	background: url(../../img/common/common_btn_default.png) no-repeat 0 0;
	margin-right: 10px;
	width: 80px;
	line-height: 20px;
	text-align: center;	
	color: #fff;
	margin-top: 5px;
	height: 30px;
	float: left;
	display: block;	
}*/

#data_contact_add-edit .pane_floatingbuttons {
	background-color: #999;
	margin: 0;
	width: 100%;
	min-height: 40px;
	line-height: 40px;
	top: -44px;
	right: 0px;
	left: 0px;
}

#data_contact_add-edit .pane_floatingbuttons h3 {
	position: absolute;
	left: 20px;
	font-size: 16px;
	color: #FFF;
	font-weight: bold;
}

.syncedwithphone_val,.savedonweb_val, .tobesynced_val{font-weight:bold;}


#header_title > ul{
	float:right;
}

/*#edit_contact_save_btn,
#add_contact_save_btn,
#save_next,
#add_edit_contact_cancel_btn{
	padding-left: 0;
	list-style: none;
	line-height: 30px;
	background: none;
	background-color: #84BD00;	
	margin-top: 5px;
	height: 30px;
	float: left;
	display: block;
	border-radius:6px;
}*/


#save_next{
	/*width: 168px;*/
	width:auto;
}

#ep_note {	
	margin:10px 15px;
	background-color: #E1E0E0;
	border: 1px solid #184B84;
	overflow-x: hidden;
	padding: 7px;
	font-size: 12px;
	line-height: 11px;
}

div#ep_pictureholder{
	margin-bottom:10px;
}


.top-buffer{margin-top:36px;}


#contacts_scroll_area div[class*=lineitem_]{		
	padding-right: 5px;
	padding-left: 5px;		
}

.ep_fieldblock > .ep_title,
.ep_fieldblock > .ep_row,
.ep_fieldblock > .ep_row > input{
	/*width:100%;*/
}

#ep_birthday, #ep_anniversary{
	width: 76%;
}

.ep_contactfieldtitletd{
	width:40%;
}

.searchinput_blank{
    padding:17px;
	padding-left:40px;
	background-image:url('../img/search_icon.png');
	background-repeat:no-repeat;
	background-size: contain;
}
.searchinput_text{
	padding-left:0px;
	background-image:none;
}

#data_contacts_createcontact{
	/*
	margin-top: 3px;
	min-height: 36px;
	float: right;
	*/
	width: 100%;
	padding: 6px;
}
.import_contactfile >label,#ip_filebrowserholder > label{
	text-align: right;
}
#username_importContact,#password_importContact{
    text-align: right;
}

#contacts_scroll_area{
	height: 100%;
}

.shifter_details_lineitemvalue {
	word-break: normal;
}
.contact_note {
	color: #929292;	
	padding: 10px 0 0 10px;
	text-align: center;
}

.create_contact_icon{
	right: 2px;
	background-image:url('../img/create_contact_icon.png');
	background-repeat:no-repeat;
	background-size: contain;
	margin-top: 2px;
	width: 35px;
	position: absolute;
	clear: both;
	float: right;
	top: 0px;
	height: 100%;	
}
.ui-datepicker-trigger{
	margin-left:5px;
}
.ep_fieldtable > img {
	vertical-align: 0%;
}
.ep_textinput {
	width: 100%;
}

input[type="text"].form-control{
	height:34px;	
}
input[type="password"].form-control{
	height:34px;	
}

input[type="text"].ep_unsupported {
	background-color:#E1E0E0;
}

div.lineitem_key.left.col-sm-9.col-md-9.col-lg-9,
div.details_lineitemvalue.shifter_details_lineitemvalue.lineitem_key.col-sm-9.col-md-9.col-lg-9 {
	padding-left: 15px!important;
}

.close_conatct_details{		
	position: absolute;
	display:none;
	top: 10px;
	right: 10px;
	opacity: 1;
}

#records_tablehalf{
	/*padding-bottom:0 !important;*/	
}

#records_detailshalf {/*display:block;*/}

/*===== Date Picker =====*/
div#ui-datepicker-div{
	width: 232px;	
	color: #fff;
	background:#746661;	
	padding:5px;
	display: none;
}
.ui-datepicker-calendar{
	width:100%;
}
.ui-datepicker-calendar a, .ui-datepicker-prev a, .ui-datepicker-next a{color:#fff;}
a.ui-datepicker-prev, a.ui-datepicker-next{display:inline-block; margin-bottom:20px; margin-right:5px; color:#fff;}

.padRZero{padding-right:0;}
#ip_importall_button{margin-bottom:30px;}


#ip_inner{
	overflow-x: hidden;
}

#data_contacts_tab .list_bordered {
	padding-top: 15px;
}
#data_contacts_tab .list_bordered > div {
	margin-bottom: 15px;
}
#data_contacts_list {
	margin: 0 -15px;
	overflow-x: visible;	
}
#data_contacts_list.scrollable {
	height: 532px;
	max-height: initial;
	border-top: solid 2px #a3abae;
}

#data_contacts_list .rt_rowindicated {
	background: #949da0;
}

#data_contacts_list .rt_rowindicated:hover {
	background: #949da0;
	border-top: solid 1px #949da0;
	border-bottom: solid 1px #949da0;
}

/*#data_contacts_list .rt_row:hover > div,
#data_contacts_list .rt_rowindicated > div {
	color: #fff;
}*/

#data_contacts_list .rt_rowindicated > div {
	color: #fff;
}

@media only screen and (min-width : 320px) and (max-width : 767px) {
	.antiActive{
		right: -100%;
	}
	
	#data_contacts_tab .sidebar-offcanvas.active {	
		right: 0;
		opacity: 0;
		z-index:-1;
	}
	
	#data_contacts_tab {
		/*overflow-x: hidden;*/
	}	
	
	#data_contact_add-edit{
		/*top: 55px;*/
		top: 9px;	
	}
	#data_contact_add-edit .pane_floatingbuttons {
		/*top: -55px;*/		
	}
	#contactstable{
		/*
		max-height:100%;
		height: auto;
		overflow: auto;
		*/
	}
	#data_contacts_list.scrollable {
		height: auto;
		overflow: auto;
		margin: 0;
	}
	#data_contact_add-edit .pane_floatingbuttons h3{
		left: 2%;
	}
	#header_title > ul{
		float: right;
		top: 0px;
		right: 0px;
		width: auto;		
		background: transparent;
		margin: 0 0 10px 5px;
		padding: 0;
	}
	
	#edit_contact_save_btn, 
	/*#add_contact_save_btn,*/ 
	#save_next, 
	/*#add_edit_contact_cancel_btn,*/
	#contact_removefrmdevice_btn,
	#contact_addtodevice_btn,
	#contact_delete_btn,
	#restore_contact_btn,
	#delete_contact_btn{
		/*min-height: 1px;
		background: #84BD00;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
		font-size: 15px;
		color: #FFF;
		width: 100%;
		position: relative;
		clear: both;
		margin-left: 0;
		margin-bottom: 5px;
		padding: 6px;
		font-weight: normal;
		text-align: center;
		line-height: 15px;*/
		
		/*width: 100%;*/
	}	
	#data_contacts_tab #records_tablehalf{
		min-height:auto !important;
		border:none;
		padding: 0;
		padding-top: 0;		
		height: auto;
		max-height: initial;
	}
	

	
	/*#edit_contact_save_btn, #add_contact_save_btn, #save_next, #add_edit_contact_cancel_btn{
		text-align:left;
		padding-left:10px;
	}*/
	
	
	#contactstable{
		/*height:auto;*/
	}
	
	
	#ep_column_1,#ep_column_2,#ep_column_3{
		top: 0px;
	}
	
	.details_buttonholder > ul{
		/*height:auto;*/		
	}
	.details_buttonholder > ul >li {
		/*
		width:100%;
		border-right:none;
		background: #84BD00;
		border-radius: 6px;
		margin-bottom: 6px;
		*/		
	}
	
	/*.details_buttonholder > ul >li >p{
		text-align:left;
		padding-left:10px;
	}*/
	
	#records_detailshalf{
		overflow:visible;
		border:none;		
	}
	
	.ep_title{
		padding-left: 10px;
		float: left;
		width: 30%;
	}
	
	.ep_row {
		float: left;
		width: 70%;
	}
	.ep_fieldblock > .ep_row > input{
		width:100%;
	}
	.tab-content{
		overflow:visible;
	}
	.close_conatct_details{	
		display:block;
	}
	
	.webbycons-createuser{	
	/*font-size: 1.357em;*/
	font-size: 1.9em;
	line-height: 1.357em;
	color:#fff;
	}
	
	#data_contacts_createcontact{
		/*
		margin-top: auto;
		min-height: auto;
		*/	
	}
	#data_contacts_submenu_createcontact {		
		/*margin-right: 10px;*/
		padding-right:10px;
		margin-top:-8px;
		padding-left:10px;		
	}
	
	#data_contacts_tab .toggle-submenu a{
		padding-top:6px;
	}
	
	#data_contacts_tab .toggle-submenu .submenu-show{
		width:75%;	
	}
	
	.import_contactfile{
		height:auto;
	}
	
	.instructions_body {
		height: 800px;
		width: auto;
		margin: 40px 5px 0 5px;
	}
	
	#importpan >input[type="text"].form-control {	
		width:221px;
		border:1px solid red;
	}
	#ep_birthday, #ep_anniversary{
		width: 78%;
	}
	
	
	#importpane >input[type="password"].form-control {
	width:221px;
	}
	
	#gmail_fastimport{
		padding: 0px;
	}
	.CI_input{
		padding: 0px ;
	}
	#gps_keyword{	
		padding-left:0;
	}
	#ip_importgmail_button{
		margin-top: 18px;
	}
	
	#ip_filebrowserholder{
		padding:0;	
	}
	#CI_button > div{
		padding:0px;
	}
	.import_contactfile >label,#ip_filebrowserholder > label{
		text-align: left;
		mar
	}
	#username_importContact,#password_importContact{
	    text-align: left;
	}
	
	.top-buffer-appned{margin-top:30px;}
	#ip_providerselect, #ip_methodselect{width:94%!important;}
	#username, #password{width:100%!important;}
	
	.CI_input, #methodbox{margin-bottom:10px;}

	#uploadbox{
		padding-left:0px;
	}
	
	#gps_keyword .padRZero{padding-right:0;}
	
	
	
	#sync_dialog .bs-callout{/*padding-bottom:0;*/}
	
	
	#sync_dialog .checkbox-inline{
		display:block;
		margin-left:0;
		margin-top:6px;
	}
	
}


@media only screen and (min-width : 768px) {
	#header_title > ul {
		float: right;
		right: 0px;
		width: auto;
		padding-right:0px;
		margin-top: 5px;
	}
	
	.syncbuttonwidth{width:146px;}
	
}
.windowb {
	background-color: #FFF;
	display: none;
}
#importpane {
	position: absolute;
	z-index: 10;
	width: 100%;
	top: 38px;
}
#header_title {
	background-image: url(../img/backup/windowB_top.png);
	border-left: 2px solid #B7B5B6;
	border-right: 2px solid #B7B5B6;
	margin: 0px 0px;
	width: 100%;
}
.maintitle {
	background-color: rgb(153, 153, 153);
	color: #FFF;
	font-size: 19px;
	height: 40px;
	position: relative;
	white-space: nowrap;
}
.pane_floatingbuttons {
	position: absolute;
	right: 0px;
	_right: 20px;
	top: -39px;
}

/*.pane_floatingbuttons .rs_cancel{
	margin-right: 10px;
	width: 80px;
	line-height: 30px;
	text-align: center;
	font-size: 13px;
	font-weight: bold;
	color: rgb(255, 255, 255);
	display: block;
	background: rgb(132, 189, 0);
	border-radius: 6px;
	height: 30px;
	margin-top: -4px;
}*/

.pane_floatingbuttons li {
	cursor: pointer;
	float: left;
	height: 30px;
	list-style: none;
	font-weight: normal;
	width: auto;
	padding-top: 5px;
	margin-right: 10px;
	margin-left: 0;
	margin-top: 6px;
}

#header_title .pane_floatingbuttons{
	margin-top: 10px;
	top: 0px;
}

#header_titletext {
	font-style: normal;
	left: 25px;
	position: absolute;
	line-height: 40px;
}


#ip_providerselect, #ip_methodselect, #username, #password{
	width:260px;
}
#ip_providerselect, #ip_methodselect {
    margin-left:15px;
}


/*
#ip_filebrowserholder {
margin-top: 5px;
padding-left: 232px;
text-align: left;
font-size: 10pt;
}*/

#ip_upload_file {	
	float: left;
	line-height: 20px;
}

.ins_title {
color: rgb(0, 0, 0);
font-size: 16px;
font-weight: 700;
padding: 16px 0 0 16px;
}

.ip_instructionstitle {
color: rgb(0, 0, 0);
font-weight: 700;
padding: 7px 0 7px 27px;
}

ol.ip_instructions_list, ol.ip_instructions_list li{
	list-style: decimal outside none;
}

.instructions_body li {
	line-height: 20px;
	margin-left: 21px;
}

#data_contacts_tab  #records_detailshalf{
	/*padding-right:0px;*/
	padding: 15px;	
}

.onphonedetails ul li, .onwebdetails ul li {
	list-style-type: none;
}

#loading_custom_dialog{
	position:fixed;
	height:100%;
	width:100%;
	z-index:99999;
	top:0px;
	display:none;
	opacity:0.7;
	background:#000;
}

#loading_progress {
	color:white;
	width:100px;
	position: absolute;
	margin: -50px 0 0 -50px;
  	left: 50%;
  	top: 50%;
}
