/* Dialogs */
#wipephonedialog .instructions ul {
	list-style-type: none;
	margin: 0;
}

#wipephonedialog .instructions li div {
	margin: 0 0 10px;
}

#wipephonedialog .modal-footer {
	margin-top: 0;
	text-align: center;
}

#wipephonedialog .modal-footer .btn-primary {
	margin: 0;
}

#wipephonedialog .instructions label {
	position: relative;
	top: -2px;
	font-weight: bold;
	margin-right: 10px;
	display: inline-block;
}
/* END - Dialogs */

/* Location Pane */
#location_tab {
	height: 730px;
	margin-bottom: 10px;
}

#location {
	/*background:#EEE;*/
	height: 100%;
	min-height: 555px;
	width: auto;
	position: relative;
}

#location-toggle-submenu {
	height: 35px;
	float: left;
	width: 100%;
}

#location-toggle-submenu .submenu-show {
	float: left;
}

#location-toggle-submenu .location-title-connecting,
#location-toggle-submenu .location-title-refining {
	display: none;
	font-size: 1.071em;
	line-height: 1.071em;
	margin: 0;
	padding: 2px 10px;
	font-weight: normal;
	color: #fff;
}

#location-toggle-submenu.connecting .location-title-connecting {
	display: block;
}

#location-toggle-submenu.refining .location-title-refining {
	display: block;
}

#location-toggle-submenu.connecting #submenu-locate-refresh,
#location-toggle-submenu.refining #submenu-locate-refresh,
#location-toggle-submenu.connecting .submenu-show,#location-toggle-submenu.refining .submenu-show {
	display: none;
}

#submenu-locate-refresh,#submenu-locate-claim {
	margin-right: 10px;
}

#submenu-locate-refresh .icon-locate-refresh {
	font-size: 18px;
}

#submenu-locate-claim .webbycons-box {
	font-size: 20px;
	display: inline-block;
	margin-top: -2px;
}
/* Location Pane - Left*/
#location_left {
	float: left;
	position: relative;
	font-size: 0.83em;
}

#location_left .lp_info .last_backup {
	display: none;
}
#bing_map .infoTitle {
    display: none;
}

#bing_map .infoTitle.show {
    display: inline;
}

#location_left .title {
	background: #999;
	padding: 8px;
	font-size: 13px;
	font-weight: 700;
	margin-top: 0;
	color: #fff;
	line-height: 0.9em;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#location_left .location_history_top,
#location_left .location_history_bottom {
	display: none;
}

#location_history {
	color: #666;
	background: #fff;
}

#location_history .selected {
	background-color: #E8E8E8;
	border-radius: 5px;
}

#location_history .item {
	clear: both;
	width: 100%;
	cursor: pointer;
	margin: 10px 0;
	border-bottom: solid 1px #ccc;
}

#location_history .selected .item {
	border-color: transparent;
}

#location_history .index {
	float: left;
	font-weight: 700;
	height: 33px;
	display: none;
}

#location_history .info {
	font-weight: 400;
	padding: 10px 15px;
}

#location_history .address {
	line-height: 16px;
	padding-bottom: 2px;
	padding-right: 4px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#location_history .time {
	line-height: 16px;
	padding-bottom: 2px;
	padding-right: 4px;
}

#location_history .accuracy {
	line-height: 16px;
	padding-bottom: 2px;
	padding-right: 4px;
	font-weight: bold;
}

#clear_location_history {
	margin: 10px 10px 0;
}

#location_left .location_settings {
	color: #666666;
	padding: 10px 0 10px;
	background: #fff;
}

#location_left .location_settings .content {
	margin: 5px 10px 0;
}

#location_left .location_settings .link {
	margin: 5px 10px 0;
}

#get_direction {
	color: #666;
	padding-bottom: 10px;
	padding-left: 9px;
	padding-top: 13px;
}

#location_current .history a,#location_history .current a,
#location_current_address a,#location_history .title a {
	color: #48ADD7;
	cursor: pointer;
	font-size: 12px;
	padding-left: 1px;
	text-decoration: underline;
}

#location_history .title a {
	margin-left: 13px;
}

#location_history .current {
	padding-top: 5px;
}

#location_current .address {
	padding-left: 2px;
}
/* END - Location Pane - Left*/
#location_right {
	float: left;
	height: 100%;
	position: relative;
}

#location_right #message {
	background: #FFF;
	border: 2px solid #B7B5B6;
	color: #666;
	display: none;
	height: 90px;
	left: 0;
	right: 0;
	line-height: 14px;
	padding: 15px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 153px;
	z-index: 2;
	font-size: 0.857em;
}

#location_right .note {
	color: #666;
	margin: 10px 0;
	font-size: 0.8em;
	line-height: 1.3em;
}

#location_failed_note {
	background: #FFF;
	border: 2px solid #B7B5B6;
	color: #666;
	display: none;
	height: 100px;
	left: 0;
	right: 0;
	line-height: 14px;
	padding: 15px;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 300px;
	z-index: 2;
	margin: auto;
}

#location_failed_note h3 {
	color: #0066CC;
	font-size: 1.143em;
	line-height: 1.429em;
	font-weight: bold;
	margin: 0;
}

#location_right #location_progress_note {
	background: url("../../img/transparent_loading_circle_blue.gif") no-repeat transparent;
	color: #0066CC;
	font-size: 25px;
	font-weight: bold;
	height: 75px;
	left: 0;
	right: 0;
	line-height: 25px;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 315px;
	z-index: 2;
	display: none;
	margin: auto;
	text-align: center;
}

#location_right #location_progress_note .accuracy {
	font-weight: normal;
	text-align: center;
	padding-top: 26px;
}

#location_right #location_progress_note .text {
	padding: 0 0 15px 0;
}

.sv_link {
	margin-top: 6px;
}

.sv_link a {
	color: #77C;
	cursor: pointer;
	text-decoration: underline;
}
/* END - Location Pane */
#map_container {
	border: 1px solid #cacaca;
	position: relative;
	overflow: hidden;
	min-height: 200px;
}

.related_actions,.top_questions {
	display: none;
}

#bing_map {
	overflow: hidden;
}

#bing_map_dialog {
	-moz-opacity: 0.5;
	background: #000;
	display: none;
	filter: alpha(opacity = 50);
	height: 630px;
	opacity: 0.5;
	position: absolute;
	top: 0;
	width: 866px;
	z-index: 2;
}

#bing_map .map-info .modal-footer {
	margin-top: 0;
	padding-top: 0;
	border: 0;
	background-color: #fff;
	text-align: left;
}

#bing_map .map-info .modal-dialog {
	position: relative;
	top: auto;
	left: auto;
	right: auto;
	margin: 0 auto 20px 0;
	z-index: 1;
	width: 250px;
}

#bing_map .map-info .modal-content {
	box-shadow: 1px 2px 5px rgba(0, 0, 0, .5);
}

#bing_map .markerline {
	font-size: 0.857em;
}

#bing_map .markerline.accuracyInfo {
	font-weight: bold;
	margin-top: 34px;
	margin-left: -36px;
	width: 100px;
	text-align: center;
}

#bing_map .get_directions {
	display: none;
	margin-top: 10px;
}

.map-info .modal-header h3 {
	font-size: 1.143em;
	line-height: 1.429em;
}

#header_link .button .tooltip_icon.refining {
	top: -15px;
}

#header_link #lock_toolset .tooltip_icon.outcome {
	top: -15px;
}

#header_link #lock_toolset .tooltip_icon.outcome.success {
	top: 5px;
}

#location-menu-tab-sm-full .modal-body .submenuItemLabel {
	font-size: 1.286em;
	font-weight: normal;
	line-height: 1.143em;
	color: #fff;
	margin: 0 0 5px;
}

#location-menu-tab-sm-full .modal-body {
	line-height: 1em;
}

#location-menu-tab-sm-full .modal-body li {
	font-size: 0.857em;
	line-height: 16px;
	color: #faf9f7;
}

#location-menu-tab-sm-full .modal-body li span[data-icon] {
	display: none;
	position: absolute;
	right: 10px;
}

#location-menu-tab-sm-full .modal-body li.selected span[data-icon] {
	display: inline-block;
}

#location-menu-tab-sm-full .modal-footer {
	background-color: #a2aaad;
}

#wipephone_dialog,#securephone_dialog {
	position: relative;
	top: auto;
	left: auto;
	right: auto;
	margin: 0 auto 20px 0;
	z-index: 300000;
	max-width: 100%;
}

#securephone_dialog input[type="checkbox"] {
	margin-right: 10px;
}

#securephone_announce_message {
	width: 100%;
}

#securephone_dialog .countdown_text {
	padding: 5px;
	color: #fff;
	background-color: #333;
	margin: 10px 0;
}
#toggleMapLandscape {
    display:none;
}
@media only screen and (min-width : 320px) and (max-width : 767px) and (orientation: landscape){
    #toggleMapLandscape {
        display:block;
        position: fixed;
        bottom: 0;
        padding: 10px;
    }
}
@media only screen and (min-width : 320px) and (max-width : 767px) {
	#location_tab {
		height: auto;
		margin-bottom: -20px;
	}
	#location {
		height: 100%;
		min-height: 0;
		width: auto;
		position: relative;
	}
	#location,#location_left,#location_right {
		margin: 0;
	}
	#location_right {
		padding: 0;
	}
	#map_container {
		border: 0;
	}
	#bing_map .markerline.accuracyInfo {
		margin-top: 28px;
	}
	.map-info {
		visibility: hidden;
	}
	#wipephonedialog .modal-footer {
		padding-bottom: 5px;
	}
	#wipephonedialog .modal-footer .btn {
		margin-bottom: 10px;
	}
	#bing_map .OverlaysTL {
		display: none;
	}
	#location-menu-tab-sm-full .modal-footer {
		position: relative;
	}
}

@media only screen and (min-width : 768px) and (max-width : 1023px) {
	#location.row {
		margin-left: auto;
		margin-right: auto;
	}
	#location_left {
		padding-left: 10px;
		padding-right: 5px;
	}
	#location_right {
		padding-right: 10px;
	}
}