/*===== Footer links =====*/
#header_container > #footerarea {
    position: fixed;
    width: 100%;
    bottom: -1px;
    z-index: 10;
}
#footerarea {
    background: none repeat scroll 0% 0% #A2AAAD;
    padding: 10px 0px;
    overflow: hidden;
    color: #FFF;
}
#footerarea a {
    color: #FFF;
}
#footerarea .webbycons-logo:before {
    left: 0px;
    top: -0.5em;
}
#footerarea .webbycons-logo {
    width: 100px;
    text-shadow: none;
    display: inline-block;
}
#footerarea .footer_right {
    text-align: right;
}
            
#footer_containerarea {
    width: 100%;
    bottom: -1px;
}
#footerarea .footer_left, #footerarea .footer_right {
    text-align: center;
}
#footerarea .footer_left .copyright {
    display: inline-block;
    margin-right: 5px;
}
#footerarea .footer_left {
    font-size: 0.857em;
}
/*===== Menu links =====*/

#tabs li.selected {font-weight:bold; color:#343535 !important;}
#loginHeader .ama-submenu ul li, #header #tabs .ama-submenu ul li.selected {
    color: #FFF !important;
}
.submenu-left {
    position: relative;
    margin-right: 20px;
    padding-right: 1px;
}
/*===== Phone Supported =====*/

#phones_supported h2 {
    padding: 0 0 26px 0;
    color: #333;
    font-size: 14px;
}

#phones_supported ul {
    list-style: none outside none;
}

#phones_supported p {
    display: block;
    overflow: hidden;
}

#phones_supported ul li {
    display: inline;
    float: left;
    height: 180px;
    margin-top: 5px;
    text-align: center;
    width: 125px;
    background: none;
}
/*===== FAQs =====*/
#mainContent #helpSections ul.faqs {
    margin-bottom: 0;
}

#mainContent #helpSections ul.faqs li {
    padding: 0 0 6px 0;
    background: none;
}

#mainContent #helpSections ul.faqs li.faqSubTitle {
    color: #333;
    font-weight: bold;
    font-size: 15px;
}

#mainContent #helpSections ul.faqs li.faqSubTitle2, #helpContent ul.faqs li.faqSubTitle2 {
    color: #333;
    font-weight: bold;
    margin-left: 0px;
    padding-top: 5px;
}

#mainContent #helpSections ol li {
    padding-bottom: 5px;
}

#helpSections ul#dma, #helpSections ul#dma li.dmali {
    list-type-type: disc;
    list-style: disc;
}

#helpSections ul#dma {
    padding-left: 15px;
    margin-left: 15px;
}

#helpSections ul#dma li.dmali {
    padding-left: 0px;
}

#mainContent #helpSections {
    overflow: auto;
    height: auto;
}

#mainContent  #helpSections ul {
    padding-left: 0;
}

#mainContent  #helpSections ul li {
    list-style: none;
    background: none no-repeat 0 7px;
    padding: 0 0 6px 10px;
    color: #333;
}

#mainContent #helpSections p {
    padding-bottom: 18px;
}

#mainContent #helpSections p.quesAns {
    margin: 0;
    padding: 0 0 5px;
}

#mainContent #helpSections p.padBMedium {
    padding-bottom: 0px;
}

#mainContent #helpSections p.quesAns span.PadTZero {
    padding-top: 0px;
}

#mainContent #helpSections p.quesAns span {
    display: block;
    padding-bottom: 10px;
    color: #0063a6;
}

#mainContent #helpSections p.quesAns span {
    display: block;
    padding-top: 10px;
}

#mainContent #helpSections p.padBMedium {
    padding-bottom: 15px;
}

ol.quesAns {
    list-style: none;
    margin: 0;
    padding: 0 0 16px;
}

ol.quesAns li {
    padding: 8px 0 0 8px;
    background: url(../../img/arrow.gif) no-repeat 0 15px;
}
/*===== HelpPopup =====*/
#helpWrapper {
    display: none;
    margin: 0;
    padding-bottom: 10px;
    background: #efefef;
    line-height: 16px;
}

#helpWrapper h1 {
    font-size: 22px;
    font-weight: normal;
    color: #000;
    padding: 10px 0 16px 16px;
    background: #ccc;
}

#helpContentWrapper {
    background: #fff;
    margin: 0 8px;
    padding: 12px 7px;
    border-left: 1px solid #cad0e1;
    border-right: 1px solid #cad0e1;
    border-bottom: 1px solid #cad0e1;
}

#helpLinks {
    float: left;
    width: 176px;
    height: 375px;
    padding: 18px 5px 18px 14px;
    border: 1px solid #e3e3e3;
}

#helpLinks ul {
    margin: 0;
    padding: 0;
}

#helpLinks ul, #helpContent ul.faqs {
    margin: 0 0 14px 0;
    padding: 0;
}

#helpLinks ul li, #helpContent ul.faqs li {
    list-style: none;
    color: #0063a6;
    padding-bottom: 8px;
    background: none;
}

#helpLinks ul li a, #helpLinks ul li a:link, #helpLinks ul li.selected a:hover, #helpContent ul.faqs li a:link,#helpSections p.quesAns a, #helpContent p.quesAns a:link, #mainContent #helpSections ul.faqs a:link {
    color: #0063a6;
    text-decoration: none;
}

#helpLinks ul li a:hover, #helpContent ul.faqs li a:hover, #helpContent p.quesAns span.goTopLink a:hover, #helpContent p.quesAns a:hover, #mainContent #helpSections ul.faqs a:hover {
    color: #f66f02;
    text-decoration: none;
}

#helpLinks ul li.selected {
    font-weight: bold;
}

#helpLinks ul li.helpTitle {
    font-size: 18px;
    color: #333;
    padding-bottom: 14px;
}

#helpContent ol {
    margin: 0 0 6px 0;
    padding: 0;
}

#helpContent ol li.subTitle {
    list-style: none;
    margin: 0;
    padding: 0 0 5px;
    font-weight: bold;
}

#helpContent ul.faqs li {
    padding: 0 0 6px 0;
}

#helpContent ul.faqs li.faqSubTitle {
    color: #333;
    font-weight: bold;
    padding: 0 0 6px;
    font-size: 15px;
}

#helpContent ol li {
    list-style-position: outside;
    list-style-type: decimal;
    color: #666;
    padding-bottom: 8px;
    margin-left: 23px;
}

#helpContent ol span {
    font-weight: bold;
    display: inline-block;
}

#helpContent p span {
    font-weight: bold;
    display: block;
    padding-bottom: 5px;
}

#helpContent p.quesAns span a {
    font-weight: normal;
}

#helpContent {
/*float:right; width:515px;*/
    padding-left: 220px;
}

.noStyle li {
    background: none!important;
}

.noStyle li.leftIndent {
    margin-left: 10px;
}

.mobileMarkets a {
    background: url(../../img/download_app_platforms.gif) 0 0 no-repeat;
    height: 79px;
    display: inline-block;
}

a.icoAndroid {
    background-position: 0 0;
    margin-right: 5px;
    width: 131px;
}

a.icoBlackberry {
    background-position: -290px 0;
    margin-right: 5px;
    width: 167px;
}

a.icoApple {
    background-position: -148px 0;
    margin-right: 5px;
    width: 128px;
}
#protectedAdv {
    display: block;
    padding-top: 50px;
    /* float: left;
    position: absolute;
    top: 350px; */
}

#mainContent {
	padding-left: 20px;
}
li.noListStyle,
.noListStyle li {
    list-style-type: none!important;
}

#helpContent ol.discListStyle li {
    list-style-type: disc!important;
}
h3.preloginPageTitle {
	border-bottom: 1px solid #CACACA;
}
a.preloginLinks {
    color: #7C7975;
    cursor: pointer;
    text-decoration: none;
    line-height: 30px;
    padding: 0 15px 0 0;
 }
 #tabs li.report_event.pull-left.preloginLinks {
 	color: #7C7975;
    cursor: pointer;
    text-decoration: none;
    line-height: 30px;
    padding: 0 15px 0 0;
 }
  #tabs li.report_event.pull-left.preloginLinksSelected {
 	color: #343535;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    line-height: 30px;
 }
 a.preloginLinksSelected {
    color: #343535;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    line-height: 30px;
 }
 label.errorMsgIcon, errorMsgIcon errorMsg, #password {
    display: none;
}
#errMsgBld.errorMsgIcon {
    float: right;
    width: auto;
    text-align: right;
    background: url(../../img/icon_warning_small.png) 0 1px no-repeat;
    padding-left: 24px;
    margin-bottom: 5px;
    color: #000;
}

label.errorMsg {
    background: none;
    padding-left: 25px;
}
#errMsgBld {
    color: red;
    font-weight: bold;
}

#errMsg {
	background: url(../../img/icon_warning_small.png) 0 1px no-repeat;
    color: red;
    font-weight: normal;
    text-align: left;
}
 #dialog {
    display: none;
}

H3#menu-tab-sm-btn.hidden-md.hidden-lg.hidden-sm.toggle-menu {
	padding-left: 30px;
}

.mobileFeatures {
    background: url(../img/features_bg.png) no-repeat 0 0;
    margin-bottom:15px;
    padding-left: 53px;
    line-height: 16px;
}
.mobileFeatures.secure {
    background-position: 0px 0px;
}

.mobileFeatures.alarm {
    background-position: 0px -93px;
}

h4.featuretitle {
	margin: 5px 0;
    padding-top: 0px;
}
#mobileFeatures {
	padding-top: 40px;	
}
.mobileFeatures.sync {
    background-position: 0px -180px;/* 
    padding-right:20px !important; */
}

.mobileFeatures.recover {
    background-position: 0px -263px;
    height: 54px;
}

.mobileFeatures.lock {
    background-position: 1px -372px;
    height: 45px;
}

.mobileFeatures.appAssist {
    background-position: -1px -471px;
}

.mobileFeatures.replace {
    /* padding-left: 51px !important;
    padding-right: 20px !important; */
    background-position: -1px -566px;/* 
    height: auto; */
}

.mobileFeatures.erase {
    /* padding-left: 67px; */
    background-position: -2px -654px;/* 
    padding-bottom: 19px !important; */
}

.mobileFeatures.diagnostics {
   /*  padding-left: 67px; */
    background-position: -3px -808px;
}
/* ===== Login Page ===== */
#tabLogin{
	border: solid 1px rgb(203,203,203);
	width: 70%;
	margin:32px auto 0 auto;
	padding: 22px;
	box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.36);
	max-width:	640px;
}
#tabLogin span{
	/*background: url(../img/login_icons.png) 0 0 no-repeat;*/
	display: block;
	padding-left: 20px;
	padding-bottom: 5px;
	margin-bottom:8px;
	color: #262626;
	font-size: 18px;
	text-align: center;
}

#username1, #password_text, #btnSignup, #actualPassword,
#dummy_username1, #dummy_password_text, #dummy_btnSignup, #actualPassword{
	width:100%;
} 
#emailpin, #username1, #password_text, #actualPassword,
#dummy_username1, #dummy_password_text, #dummy_actualPassword{
	height:36px; 
	padding-left:34px; 
	font-size:16px; 
	border:1px solid #d2d2d2; 
	color:#AFAFAF; 
	background:url(../img/login_icons.png) 0 0 no-repeat
}
#emailpin, #username1,#dummy_username1{
	background-position:0 -23px;
}
#password_text, #actualPassword,
#dummy_password_text, #dummy_actualPassword{
	background-position:0 -53px; margin-bottom:10px;
}


#btnSignup,#dummy_btnSignup {
	color:#fff;
	font-size:18px;
	
	background: #00AEEF; /* Old browsers */
	background: -moz-linear-gradient(top,  #00AEEF 0%, #00AEEF 57%, #00AEEF 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00AEEF), color-stop(57%,#00AEEF), color-stop(100%,#00AEEF)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #00AEEF 0%,#00AEEF 57%,#00AEEF 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #00AEEF 0%,#00AEEF 57%,#00AEEF 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #00AEEF 0%,#00AEEF 57%,#00AEEF 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #00AEEF 0%,#00AEEF 57%,#00AEEF 100%); /* W3C */
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #00AEEF;
	
	margin:10px 0;
	padding:5px 0;
}